*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: arial;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(15, 148, 231, 0.256);
    color: black;
    line-height: 1,6;
    margin: 0;
    padding: 0;
}

header
{
    background-color: rgba(14, 86, 240, 0.338);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px black;
}

header h1
{
    font-size: 2,5em;
}

section
{
    background-color: rgba(0, 0, 255, 0.29) ;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(4, 4, 78);
}

section h2
{
color: rgba(7, 20, 94, 0.589);
font-size: 1.8em;
margin-bottom: 10px;
font-style: unset;
}

section p
{
    font-size: 1.2em;
    line-height: 1.6;
}
section ul
{
    font-size: 1,2em;
    line-height: 1,5em;
}

section table
{
    background-color: rgb(131, 127, 255);
    color: aliceblue;
    width: 100%;
    margin-top: 20px;
    border:1px solid rgb(20, 35, 118)
                
}

tr,td
{
    padding: 10px;
    text-align: left;
}

ul
{
    list-style: none;
    padding-left: 0;
    font-size: 1,2em;
    line-height: 1,5em;
}
ul li{
    margin-bottom: 10px;
}
form
{
    display: block;
    font-weight: bold;
}
form label
{
    display: block;
    font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #c1f0fe;
}

form input[type=submit]
{
    background-color: rgb(15, 91, 177);
    color:whitesmoke ;
    padding: 2px;
    border: none;
    cursor:pointer;
}

form input[type="date"]
{
    background-color: #c1f0fe;
    color: rgb(83, 5, 5);
    padding: 5px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;

}

form input[type="submit"]:hover
{
    background-color: aqua;
}

img{
    margin: 0 auto auto auto;
}
footer
{
    text-align: center;
    background-color: rgba(115, 0, 255, 0.541);
    color: white;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px black;
}